<div id="menu-lateral-direita" [class.menu-aberto]="isMenuAberto">
    <div class="menu-principal">
        <div class="ferramentas">
            <div class="submenu-container" (mouseenter)="submenuRecolhido = false"
                (mouseleave)="submenuRecolhido = true">
                <!-- Menu.configuracao -->
                <!-- custom icon (css) -->
                <button class="submenu-btn" container="body" [class.active]="selfService.isActive(Menu.configuracao)">
                    <i class="fas fa-cogs"></i>
                    <i class="fas fa-sort-down"></i>
                </button>
                <ng-container *ngTemplateOutlet="submenu"></ng-container>
            </div>
            <div class="recolhiveis" [ngClass]="recolhido ? 'recolhido' : 'expandido'">
                <!-- Menu.interrogar -->
                <button tooltip="Interrogar" container="body" [class.active]="selfService.isActive(Menu.interrogar)"
                    (click)="toggleInterrogar()" placement="left">
                    <i class="fas fa-map-marker-question"></i>
                </button>
                <button tooltip="Consulta Geoespacial" container="body"
                    [class.active]="selfService.isActive(Menu.consultaGeoespacial)" (click)="toggleEstruturaLogistica()"
                    placement="left">
                    <i class="far fa-dharmachakra"></i>
                </button>
                <!-- Menu.telaCheia -->
                <button tooltip="Tela Cheia" container="body" [class.active]="selfService.isActive(Menu.telaCheia)"
                    (click)="toggleTelaCheia()" placement="left">
                    <i class="fas fa-expand-alt"></i>
                </button>
                <!-- Menu.visao3D -->
                <button tooltip="Visão 3D" container="body" [class.active]="selfService.isActive(Menu.visao3D)"
                    (click)="toggle3D()" placement="left">
                    <i class="fas fa-cube"></i>
                </button>
                <!-- Menu.visaoNadir -->
                <!-- custom icon (svg) -->
                <div [tooltip]="!selfService.isActive(Menu.visao3D) ? 'Visão Nadir (requer Visão 3D)' : 'Visão Nadir'"
                    container="body" placement="left">
                    <button [disabled]="!selfService.isActive(Menu.visao3D)"
                        [class.active]="selfService.isActive(Menu.visaoNadir)" (click)="toggleVisaoNadir()">
                        <i class="custom-icon nadir-icon"></i>
                    </button>
                </div>
                <!-- Menu.depuracaoTerreno -->
                <button tooltip="Depuração do Terreno" container="body"
                    [class.active]="selfService.isActive(Menu.depuracaoTerreno)" (click)="toggleDepuracaoTerreno()"
                    placement="left">
                    <i class="fas fa-game-board-alt"></i>
                </button>
                <!-- Menu.minhaLocalizacao -->
                <button tooltip="Minha Localização" container="body"
                    [class.active]="selfService.isActive(Menu.minhaLocalizacao)" (click)="goToMinhaLocalizacao()"
                    placement="left">
                    <i class="fas fa-location"></i>
                </button>
                <!-- Menu.zoomIn -->
                <button tooltip="Aproximar-se" container="body" (mousedown)="zoomIn()" (mouseup)="stopZooming()"
                    placement="left">
                    <i class="far fa-search-plus"></i>
                </button>
                <!-- Menu.zoomOut -->
                <button tooltip="Afastar-se" container="body" (mousedown)="zoomOut()" (mouseup)="stopZooming()"
                    placement="left">
                    <i class="far fa-search-minus"></i>
                </button>
                <!-- Menu.zoomArea -->
                <!-- custom icon (css) -->
                <button id="zoom-area" tooltip="Zoom por Área" container="body"
                    [class.active]="selfService.isActive(Menu.zoomArea)" (click)="zoomToBox()" placement="left">
                    <i class="fas fa-search-location"></i>
                </button>
                <!-- Menu.zoomBrasil -->
                <!-- custom icon (svg) -->
                <button tooltip="Zoom no Brasil" container="body" [class.active]="selfService.isActive(Menu.zoomBrasil)"
                    (click)="zoomToBrasil()" placement="left">
                    <i class="custom-icon brazil-icon"></i>
                </button>
                <!-- Menu.zoomAnterior -->
                <button tooltip="Zoom Anterior" container="body"
                    [class.active]="selfService.isActive(Menu.zoomAnterior)" (click)="zoomAnterior()" placement="left">
                    <i class="fas fa-repeat-alt"></i>
                </button>
            </div>
        </div>
        <button id="toggle-btn" (click)="recolhido = !recolhido">
            <i [ngClass]="recolhido ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i>
        </button>
    </div>

</div>

<ng-template #submenu>
    <div class="ferramentas submenu" [ngClass]="submenuRecolhido ? 'smRecolhido' : 'smExpandido'">
        <button tooltip="Grid" container="body" [class.active]="selfService.isActive(Submenu.grid)"
            (click)="toggleGrid()">
            <i class="fas fa-globe"></i>
        </button>
        <button tooltip="Escala" container="body" [class.active]="selfService.isActive(Submenu.escala)"
            (click)="toggleEscala()">
            <i class="custom-icon scale-icon"></i>
        </button>
        <button tooltip="Indicador de Norte" container="body"
            [class.active]="selfService.isActive(Submenu.indicadorNorte)" (click)="toggleIndicadorNorte()">
            <i class="far fa-star-christmas"></i>
        </button>
        <button tooltip="Mapa de Situação" container="body" [class.active]="selfService.isActive(Submenu.mapaSituacao)"
            (click)="toggleMapaSituacao()">
            <i class="fas fa-map"></i>
        </button>
        <button tooltip="Legenda" container="body" [class.active]="selfService.isActive(Submenu.legenda)"
            (click)="toggleLegenda()">
            <i class="fas fa-list"></i>
        </button>
        <button tooltip="Mapa Base" container="body" [class.active]="selfService.isActive(Submenu.mapaBase)"
            (click)="changeMapaBase()">
            <i class="fas fa-th"></i>
        </button>
        <button tooltip="Resolução do Mapa Base" container="body"
            [class.active]="selfService.isActive(Submenu.resolucao)" (click)="changeResolucao()">
            <i class="fas fa-photo-video"></i>
        </button>
    </div>
</ng-template>