<div class="navbar-custom-menu">
    <ul class="nav navbar-nav" >
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle toolbutton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i><br>Solucionadores
            </a>
            <ul class="dropdown-menu" style="background: rgba(255, 255, 255, 0.6);">


                <li class="user-body">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a class="btn btn-app tools-button">
                                <i class="fa fa-edit"></i>Aviso de <br> Mau Tempo
                            </a>
                            <a class="btn btn-app tools-button">
                                <i class="fa fa-play"></i>Efemérides <br> Astronômicas
                            </a>
                            <a class="btn btn-app tools-button">
                                <i class="fa fa-repeat"></i>SIGWX
                            </a>
                            <a class="btn btn-app tools-button">
                                <i class="fa fa-pause"></i>Previsão <br> Maregráfica
                            </a>
                            <a class="btn btn-app tools-button">
                                <i class="fa fa-save"></i> Save
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-yellow">3</span>
                                <i class="fa fa-bullhorn"></i> Notifications
                            </a>
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-green">300</span>
                                <i class="fa fa-barcode"></i> Products
                            </a>
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-purple">891</span>
                                <i class="fa fa-users"></i> Users
                            </a>
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-teal">67</span>
                                <i class="fa fa-inbox"></i> Orders
                            </a>
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-aqua">12</span>
                                <i class="fa fa-envelope"></i> Inbox
                            </a>
                            <a class="btn btn-app tools-button">
                            <span class="badge bg-red">531</span>
                                <i class="fa fa-heart-o"></i> Likes
                            </a>
                        </div>
                    </div>
                </li>


            </ul>
        </li>
    </ul>
</div>
