<div class="navbar-custom-menu">
    <ul class="nav navbar-nav" >
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle toolbutton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i><br>Ferramentas
            </a>
            <ul class="dropdown-menu" style="background: rgba(255, 255, 255, 0.6);">
                <li class="user-body">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#" class="btn btn-xs btn-default btn-flat">Manual</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#" class="btn btn-xs btn-default btn-flat">ET-EDGV</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#" class="btn btn-xs btn-default btn-flat">Teste</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
