<div id="content-wrapper" style="display:none">
    <section class="content" id="map-content">
        <div class="row" style="margin:0px !important">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="cesiumHolder">
                    <div style="position:absolute;left:0;height:100%;width:100%;margin:0;overflow:hidden;padding:0;" id="cesiumContainer">
                        <app-footer></app-footer>
                        <app-menu-lateral-direita></app-menu-lateral-direita>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>