@import '../../../../variaveis-de-estilo.scss';

$width: 30px;
$margem: 5px;

#menu-lateral-direita {
    position: fixed;
    top: 58px;
    right: 10px;
    z-index: 6;

    &.menu-aberto {
        top: 143px;
    }

    .menu-principal {
        display: flex;
        flex-direction: column;
        width: 40px;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 5px;
    }

    .ferramentas {
        background-color: $branco;
        display: flex;
        flex-direction: column;

        .recolhiveis {
            animation-duration: 1s;
            overflow: hidden;

            &.recolhido {
                height: 0;
                animation-name: recolher;
            }
        
            &.expandido {
                height: 390px;
                animation-name: expandir;
            }
            
            @keyframes recolher {
                from {height: 390px;}
                to {height: 0;}
            }
            @keyframes expandir {
                from {height: 0;}
                to {height: 390px;}
            }
        }
    
        &.submenu {
            flex-direction: row-reverse;
            position: absolute;
            top: 0;
            right: 40px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
            height: 40px;
            
            // animation
            animation-duration: .5s;
            overflow: hidden;

            &.smRecolhido {
                width: 0;
                animation-name: recolherSubmenu;
            }
        
            &.smExpandido {
                width: 280px;
                animation-name: expandirSubmenu;
            }
            
            @keyframes recolherSubmenu {
                from {width: 280px;}
                to {width: 0;}
            }
            @keyframes expandirSubmenu {
                from {width: 0;}
                to {width: 280px;}
            }
        }
    }

    button {
        border: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        overflow: hidden;
        border-radius: 4px;
        height: $width;
        width: $width;
        margin: $margem;

        i {
          font-size: 16px;
          color: $cinza-escuro;
        }

        &.active, &:active {
          background-color: $azul-bem-claro;
          i { color: $azul; }
          .custom-icon { background-color: $azul; }
        }
    
        &:hover {
          i { color: $azul; }
          .custom-icon { background-color: $azul; }
        }

        &:disabled {
            i { color: $cinza; }
            .custom-icon { background-color: $cinza; }
            background-color: transparent;
        }
        
        &#toggle-btn {
            background-color: rgba(44, 139, 193, 0.5);
            height: 16px;
            width: 40px;
            margin: 0;
            border-radius: 0;
    
            i {
                font-size: 12px;
                color: $branco;
            }
        }

        // ícones customizados via css

        &.submenu-btn {
            position: relative;
    
            .fa-sort-down {
                font-size: 12px;
                position: absolute;
                bottom: 2px;
                left: 2px;
                transform: rotate(45deg);
            }
        }
    
        &#zoom-area {
            position: relative;
    
            i {
                position: absolute;
                bottom: 2px;
                right: 2px;
                background-color: $branco;
                z-index: 1;
                font-size: 14px;
            }
    
            &::after {
                content: "";
                position: absolute;
                height: 16px;
                width: 16px;
                border: 2px solid $cinza-escuro;
            }
    
            &:hover {
                &::after { border: 2px solid $azul; }
            }

            &:active, &.active {
                &::after { border: 2px solid $azul; }
                i { background-color: $azul-bem-claro; }
            }
        }
    }
}
